
html{
    overflow-x: hidden;
}
header{
    height: 500px;
    background: url("../img/hostel1.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 30px;
    margin-top: 30px;
    /*background-position: center;*/
}
button{
    margin: 5px;
}
body{
    background-color: #6AC1B8;
    /*background-color: #FFCFDF;*/


}
.row h2{
}

.header{
    margin-left: 30%;
    margin-right: 30%;
    height: 50%;
    width: 50%;
}
.message{
    margin-top: 31px;
    color: whitesmoke;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: -15px;

}

nav .navbar {
    background-color:#6AC1B8;
    border-bottom: 1px solid black;
}

header .intro-text{
    margin-top: 110px;
    margin-bottom: 50px;
    color:#07588A;
}

#map{
    text-align: center;
    position: relative;
    margin: -6px 0 0 0;
    background-color:#6AC1B8;
}
#map ul{
    margin: 30px 100px 33px 200px;
    padding: 0;
    z-index: 100;
    position: relative;
}

#map ul li{
    display: inline;
    text-align: center;
    position: relative;
    width: 130px;
}
#map .pic{
    display: inline;
    padding: 90px 0 0 0;
    content: ' ';
    position: absolute;
    top: 0;
    left: 50%;
    width: 90px;
    height: 70px;
    background: url("../img/places.png") no-repeat 0 -10000px;
    margin: 0 0 0 -45px;
    background-size:90px auto;
}
#map .pic.bg1{
    background-position: 0 0;
}
#map .pic.bg2{
    background-position: 0 -90px;
}
#map .pic.bg3{
    background-position: 0 -180px;
}
#map .pic.bg4{
    background-position: 0 -270px;
}
#map .pic.bg5{
    background-position: 0 -360px;
}
#map .pic.bg6{
    background-position: 0 -450px;
}
#map .pic.bg7{
    background-position: 0 -540px;
}

section h2{
    text-align: center;
}

#map .btn .btn-primary{
    background-color: #07588A;
    color: black;
}

#beds{
    
    position: relative;
    margin: -2px 0 0 0;
    background-color: #6AC1B8;
    color: black;
}
#beds h3{
    color:#000000;
    text-align: center;
}
.image-circle .image-responsive{
    border-radius: 50%;
    border:5px solid white;
}
.image{
    text-align: center;
}
#contacts{
    background-color: #07588A;
    position: relative;
    margin: -8px 0 0 0;
    color: #fff;
    text-align: left;
}
.left{
    float: left;
}
.right{
    float: right;
}
header .right{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
    text-align: right;
    color: #fff;
}
header .left{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}
.service li{
    background: url("../img/check.png") no-repeat;
    background-size: 30px 30px;
    position: relative;
    padding: 5px 0 5px 50px;
    margin: 0 0 15px 0;
}
.service{
    list-style: none;
    margin: 0 0 38px 0;
    padding: 0;
}
.btn .btn-primary{
    margin-top: 10px;
}
.header h3{
    /*background: url("../img/icon-reserv.png") no-repeat left center;*/
    line-height: 35px;
    padding-left: 45px;
    color: #000000;
    /*text-transform: uppercase;*/
    
}
h3{
    color:black;
}
.locale{
    /*color:transparent;*/
    background: 0 0;
    border-color: transparent;
    margin-top: 7px;

}
.pagination{
    background-color: #555555;
    color: #122b40;
    border-color: transparent;

}

.pagination td{
    padding: 10px;

}
.pagination a:active{
    color: #0f0f0f;
    text-decoration: none;
}

.pagination a{
    color: black;
}
._gr{
    color: #6AC1B8;
}
.head{
    background-color:#6AC1B8;
}
h3{
    color: black;
    /*text-transform: uppercase;*/
    line-height: 35px;
}
