<c:if test="${sessionScope.locale eq 'ru'}" >
    <fmt:setBundle basename="local_ru" />
</c:if>
<c:if test="${sessionScope.locale eq 'en' or empty sessionScope.locale}">
    <fmt:setBundle basename="local_en" />
</c:if>